.el-button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  padding: 10px 0;
  &:hover, &:focus {
    color: #59a500;
  }
}

.el-button.bg-green-btn {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  padding: 10px 0;
  background: #59a500;
  border-color: #59a500;
  color: #fff;
  &:hover, &:focus {
    background: transparent;
    border-color: #59a500;
    color: #fff;
  }
}

/**
 * el-menu--horizontal
 **/
.el-menu--horizontal {
  .el-menu {
    width: 180px;
    .el-menu-item{
      height: 52px;
      color: #445569;
      font-size: 16px;
      line-height: 52px;
      border-bottom: 1px solid #445569;
      margin: 0 10px 10px;
      z-index: 99999;
      &:first-child{
         border-top-right-radius: 5px;
         border-top-left-radius: 5px;
       }
      &:last-child{
        border-bottom: 0px solid #445569;
      }
    }
  }
}

.carousel{
  .el-carousel{
    .el-carousel__indicators{
      .el-carousel__indicator{
        .el-carousel__button{
          width: 10px;
          height: 10px;
          border-radius: 10px;
        }
      }
    }
  }
}

/**
 *el-pagination
 **/
.el-pagination{
   text-align: center;
  margin: 20px auto;
  .el-pager{
    .active{
      background-color: #3e8900;
    }
  }
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #3e8900;
  color: #fff;
}

.el-menu--horizontal>.el-submenu.is-active .el-submenu__title{
  border-bottom: 2px solid #9cbe82;
}
